<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="qSearcher" class="com.leederedu.qsearch.core.QSearcher"
          init-method="init"
          destroy-method="destroy">
        <property name="indexList">
            <list>
                <bean class="com.leederedu.qsearch.core.CoreDescriptor"
                      init-method="init" p:name="index" p:instanceDir="index/"/>
            </list>
        </property>
    </bean>

    <bean class="com.leederedu.qsearch.core.QSUtils"
          p:qSearcher-ref="qSearcher"/>

</beans>